:root{
    --primary-color: #17021F;
    --black:#05001F;
    --secondary-color: #6E0A0A;
    --light-color:#c1c1c3;
    --dark-color:#383837;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.nav-visible {
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--dark-color);
    background-color: var(--light-color);
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0% auto;
    position:fixed;
    /* fixed position interferes with flexbox centering => use left:0/right:0/margin : 0% auto */
    /* fixed position used to overlay navbar on top of other content */
    transition: 0.4s ease-out;
    z-index: 2;
}
.nav-transparent {
    background-color: transparent;
    color:var(--light-color);
    transition: background-color 0.4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0% auto;
    position:fixed;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}
.logo-container {
    display: flex;
    align-items: center;
    /* padding-right: 1.5em; */
}
nav li a {
    text-decoration: none;
    color:var(--dark-color);
    font-weight: 700;
    width:100%;
    height: 100%;
    display:block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.dropdown-menu {
    margin:0;
    width:100%;
    height: 0;
    /* display : none; */
    flex-direction: column;
    align-self: center;
    overflow: hidden;
    border-radius: inherit;
    transition: height 0.4s ease-out;
}
.dropdown-menu li {
    background-color: var(--light-color);
    list-style: none;
    /* padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em; */
    /* width: 100%; */
}
.nav li a:last-of-type {
    padding-bottom: 1em;
}
.dropdown-menu li:hover {
    background-color: var(--secondary-color);
}
.dropdown-menu li:hover a {
    color:var(--light-color);
}
#logo {
    font-size: x-large;
    font-weight: 800 ;
    text-decoration: none;
    color:inherit;
}
.hamburger{
    position: relative;
    display: block;
    width: 2em;
    cursor: pointer;
    appearance: none;
    background : none;
    outline: none;
    border:none;
    margin:1em 1em 1em 0;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
    content:'';
    display:block;
    width:100%;
    min-height:5px;
    background-color: var(--dark-color);
    margin : 4px 0px;
    transition:0.4s;
}
.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-5px, 8px);
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-4px, -8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

body {
    background-color: #17021F;
}
.container{
   width: 100%;
}

.slider-Wrapper{
    position: relative;
    
    max-height: 50%;
    margin: auto;
    
}

.slider1 {
    width: 600px;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
   
    
}

::-webkit-scrollbar {
    width: 0px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 35rem;
}

.slider #slide-1{
    object-position: bottom;
}
.slider #slide-5{
    object-position: top;
    
}
.slider #slide-6{
    object-position: bottom;
    
}


.slider-nav{

    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem ;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background: none;
    
   

}


   
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    transition: opacity ease 250ms;
    
}

.slider-nav a:hover {
opacity: -0.95;
}

 section.text{
    text-align: center;
    color: #C1C1C3;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin-top: 0;
    line-height: 1.75;

    
 }

 section.registration{
    text-align: center;
    color: #C1C1C3;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin-top: 0;
    line-height: 1.75;
    
    
 }

div.Cours{
    color: #C1C1C3;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
    font-weight: bold;
    
    
 }
 div.Cours h6{
    margin: 0.90em;
 }

footer {
    background-color: #05001f;
    color: #C1C1C3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 
   
    
    

    
 


  



