:root{
    --primary-color: #17021F;
    --black-color:#420D30;
    --secondary-color: #6E0A0A;
    --light-color:#c1c1c3;
    --dark-color:#383837;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.nav-visible {
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--light-color);
    background-color: var(--black-color);
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0% auto;
    position:fixed;
    /* fixed position interferes with flexbox centering => use left:0/right:0/margin : 0% auto */
    /* fixed position used to overlay navbar on top of other content */
    transition: 0.4s ease-out;
    z-index: 2;
}
.nav-transparent {
    background-color: transparent;
    color:var(--light-color);
    transition: background-color 0.4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0% auto;
    position:fixed;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}
.logo-container {
    display: flex;
    align-items: center;
    /* padding-right: 1.5em; */
}
nav li a {
    text-decoration: none;
    color:var(--light-color);
    font-weight: 700;
    width:100%;
    height: 100%;
    display:block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.dropdown-menu {
    margin:0;
    width:100%;
    height: 0;
    /* display : none; */
    flex-direction: column;
    align-self: center;
    overflow: hidden;
    border-radius: inherit;
    transition: height 0.4s ease-out;
}
.dropdown-menu li {
    background-color: var(--black-color);
    list-style: none;
    /* padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em; */
    /* width: 100%; */
}
.nav li a:last-of-type {
    padding-bottom: 1em;
}
.dropdown-menu li:hover {
    background-color: var(--light-color);
}
.dropdown-menu li:hover a {
    color:var(--dark-color);
}
#logo {
    font-size: x-large;
    font-weight: 800 ;
    text-decoration: none;
    color:inherit;
}
.hamburger{
    position: relative;
    display: block;
    width: 2em;
    cursor: pointer;
    appearance: none;
    background : none;
    outline: none;
    border:none;
    margin:1em 1em 1em 0;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
    content:'';
    display:block;
    width:100%;
    min-height:5px;
    background-color: var(--light-color);
    margin : 4px 0px;
    transition:0.4s;
}
.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-5px, 8px);
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-4px, -8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}

body {
    background-color: #17021F;
}
.container{
   width: 100%;
}

.slider-Wrapper{
    position: relative;
    
    max-height: 50%;
    margin: auto;
    
}

.slider1 {
    width: 600px;
}
.slider{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
   
    
}

::-webkit-scrollbar {
    width: 0px;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 35rem;
}

.slider #slide-1{
    object-position: bottom;
}
.slider #slide-5{
    object-position: top;
    
}
.slider #slide-6{
    object-position: bottom;
    
}


.slider-nav{

    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2rem ;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background: none;
    
   

}


   
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    transition: opacity ease 250ms;
    
}

.slider-nav a:hover {
opacity: -0.95;
}

 section.text{
    text-align: center;
    color: #C1C1C3;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin-top: 0;
    line-height: 1.75;

    
 }

 section.registration{
    text-align: center;
    color: #C1C1C3;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    margin-top: 0;
    line-height: 1.75;
    
    
 }

div.Cours{
    color: #C1C1C3;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
    font-weight: bold;
    
    
 }
 div.Cours h6{
    margin: 0.90em;
 }

 /* footer start */
 footer{
    position: relative;
    width: 100%;
    background: #420D30 ;  
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #C1C1C3;
    margin-top: 160px;

}
footer .social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    width: 100%;

}
footer .social_icon li {
    list-style: none;

}
footer .social_icon li a{
    font-size: 2rem;
    color: #C1C1C3 ;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translate(-10px);
}

div#mail{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    
}
div#number{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    height: 100px;
    width: 100%;
    background: url("../images/wave.png");
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;

} 
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;

}
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;

}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;

}


@keyframes animateWave{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/* footer end */



@media screen and (max-width: 430px) {
      .slider{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        border-radius: 0.5rem;
    }

    .slider img {
        height: 17rem;
    }
    section.text{
        line-height: 1.5;
        font-size: 1.3rem;
    }
    section.text p {
        word-spacing: 0.1px;
    }
       
        
    
    section.registration{
        font-size: 1.3rem;
        line-height: 1.5;
       }

       section.registration p {
        word-spacing: 0.1px;
    }

     div.Cours{
        font-size: 1.3rem;
        


    }
    .nav-visible {
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:var(--light-color);
        background-color: var(--black-color);
        width: 100%;
        left: 0;
        right: 0;
        margin: 0% auto;
        position:fixed;
        /* fixed position interferes with flexbox centering => use left:0/right:0/margin : 0% auto */
        /* fixed position used to overlay navbar on top of other content */
        transition: 0.4s ease-out;
        z-index: 2;
    }
    .nav-transparent {
        background-color: transparent;
        color:var(--light-color);
        transition: background-color 0.4s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        right: 0;
        margin: 0% auto;
        position:fixed;
        border-radius: 0 0 10px 10px;
        z-index: 2;
    }
    .dropdown-menu li {
        background-color: var(--black-color);
        list-style: none;
        text-align: center;
    }
}

@media screen and (min-width: 565px) and (max-width: 1024px) {
    .slider img {
        height: 20rem;


    
}
}



/* @media (max-width: 750px) {
    .slider img {
        height: 20rem;
    }
} */